{{ "<!-- portfolio -->" | safeHTML }}
<section>
	<div class="row">
		{{ range first 6 .Data.Pages.ByWeight}}
		<article class="6u 12u$(xsmall) work-item">
			<a href='{{ .Permalink }}'>
				<object type="image/jpg">
					<img src="/images/thumbs/{{ .Title }}" />
				</object>
			</a>
			<h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
			<div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}  </div>
			<i>{{ .Description }}</i>

			<a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
		</article>
		{{ end }}
	</div>
</section>
